##### 1.

In [1]:
percentage = float(input("Enter the percentage: "))

if percentage >= 90:
    grade = "A"
elif percentage >= 80 and percentage < 90:
    grade = "B"
elif percentage >= 60 and percentage < 80:
    grade = "C"
else:
    grade = "D"

print("Grade:", grade)

Enter the percentage: 56
Grade: D

##### 2.

In [2]:
cost_price = float(input("Enter the cost price (in Rs): "))

if cost_price > 100000:
    tax_percentage = 15
elif cost_price > 50000 and cost_price <= 100000:
    tax_percentage = 10
else:
    tax_percentage = 5

tax_amount = (tax_percentage / 100) * cost_price

print("Tax amount:", tax_amount, "Rs")

Enter the cost price (in Rs): 45000
Tax amount: 2250.0 Rs

##### Q3.

In [4]:
city = input("Enter the city: ")

if city.lower() == "delhi":
    monument = "Red Fort"
elif city.lower() == "agra":
    monument = "Taj Mahal"
elif city.lower() == "jaipur":
    monument = "Jal Mahal"
else:
    monument = "Monument not found for the given city."

print(f"{monument:}")

Enter the city: delhi
Red Fort

##### Q4.

In [5]:
number = int(input("Enter a number: "))
count = 0

while number > 10:
    number /= 3
    count += 1

print("The given number can be divided by 3", count, "times before it is less than or equal to 10.")

Enter a number: 15
The given number can be divided by 3 1 times before it is less than or equal to 10.

##### Q5. Why and When to Use while Loop in Python give a detailed description with example

###### 
The while loop in Python is used to repeatedly execute a block of code as long as a certain condition is true. It provides a way to perform iterative tasks when the number of iterations is not known beforehand. The loop continues to execute until the condition evaluates to False.

In [1]:
# Summing numbers entered by the user
total = 0
num = 0

while num != -1:
    num = int(input("Enter a number (-1 to exit): "))
    if num != -1:
        total += num

print("The sum of the numbers entered is:", total)

Enter a number (-1 to exit): 5
Enter a number (-1 to exit): 6
Enter a number (-1 to exit): 25
Enter a number (-1 to exit): -1
The sum of the numbers entered is: 36

##### Q6.Use nested while loop to print 3 different pattern.

###### Pattern 1: Square Pattern

In [2]:
n = 5  # Number of rows and columns

i = 1
while i <= n:
    j = 1
    while j <= n:
        print("*", end=" ")
        j += 1
    print()
    i += 1

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

###### Pattern 2: Triangle Pattern

In [3]:
n = 5  # Number of rows

i = 1
while i <= n:
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *
* * * * *

###### Pattern 3: Pyramid Pattern

In [4]:
n = 5  # Number of rows

i = 1
while i <= n:
    space = 1
    while space <= n - i:
        print(" ", end=" ")
        space += 1
    
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    
    print()
    i += 1

        *
      * *
    * * *
  * * * *
* * * * *

##### Q7. Reverse a while loop to display numbers from 10to 1.

In [5]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1